In [150]:
import numpy as np
import pandas as pd

In [72]:
url = "https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv"
fuel_data = pd.read_csv(url, error_bad_lines=False)
fuel_data

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570
...,...,...,...,...,...,...,...,...,...,...,...
29518,f1_fuel_2018_12_12_0_13,12,2018,neil simpson ct #1,gas,mcf,18799.0,1.059,4.78,4.78,9.030
29519,f1_fuel_2018_12_12_1_1,12,2018,cheyenne prairie 58%,gas,mcf,806730.0,1.050,3.65,3.65,6.950
29520,f1_fuel_2018_12_12_1_10,12,2018,lange ct facility,gas,mcf,104554.0,1.060,4.77,4.77,8.990
29521,f1_fuel_2018_12_12_1_13,12,2018,wygen 3 bhp 52%,coal,ton,315945.0,16.108,3.06,14.76,1.110
29522,f1_fuel_2018_12_12_1_14,12,2018,wygen 3 bhp 52%,gas,mcf,17853.0,1.059,0.00,0.00,11.680

In [159]:
a = [1,2,3,4,5,6]
b = [13, 21, 34]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 13, 21, 34]

In [140]:
lowest_avg_fuel_cost_fueltype = fuel_data.groupby("fuel_type_code_pudl")["fuel_cost_per_unit_burned"].mean().sort_values().head(1)
lowest_avg_fuel_cost_fueltype

fuel_type_code_pudl
gas    13.659397
Name: fuel_cost_per_unit_burned, dtype: float64

In [153]:
fuel_mmbtu_per_unit_std = round(fuel_data["fuel_mmbtu_per_unit"].describe(), 2)["std"]
fuel_mmbtu_per_unit_std

10.6

In [99]:
fuel_mmbtu_per_unit_75th = round(fuel_data["fuel_mmbtu_per_unit"].describe(), 2)["75%"]
fuel_mmbtu_per_unit_75th

17.01

In [100]:
fuel_qty_burned_skewness = round(fuel_data["fuel_qty_burned"].skew(), 2)
fuel_qty_burned_skewness

15.85

In [101]:
for_fuel_qty_burned_kurtosis = round(fuel_data["fuel_qty_burned"].kurtosis(), 2)
for_fuel_qty_burned_kurtosis

651.37

In [110]:
cols_with_missing_values = fuel_data.isnull().sum() 
cols_with_missing_values

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [117]:
total_num_rows = len(fuel_data)
percent = round((cols_with_missing_values["fuel_unit"] / len(fuel_data)) * 100, 3)
percent

0.61

In [127]:
fuel_cost_per_unit_burned_correlation = (fuel_data.corr()["fuel_cost_per_unit_burned"])
fuel_cost_per_unit_burned_correlation.sort_values()

utility_id_ferc1               -0.037863
fuel_qty_burned                -0.018535
fuel_mmbtu_per_unit            -0.010034
fuel_cost_per_mmbtu            -0.000437
fuel_cost_per_unit_delivered    0.011007
report_year                     0.013599
fuel_cost_per_unit_burned       1.000000
Name: fuel_cost_per_unit_burned, dtype: float64

In [149]:
fuel_cost_per_unit_burned_1998 = df[fuel_data["report_year"] == 1998]["fuel_cost_per_unit_burned"].sum()
fuel_cost_per_unit_burned_1994 = df[fuel_data["report_year"] == 1994]["fuel_cost_per_unit_burned"].sum()
percent_change_1998_1994 = ((fuel_cost_per_unit_burned_1998 - fuel_cost_per_unit_burned_1994) / fuel_cost_per_unit_burned_1994) * 100
percent_change_1998_1994

-46.73647708743576

In [139]:
avg_cost_per_unit_yr = fuel_data.groupby("report_year")["fuel_cost_per_unit_delivered"].mean().sort_values(ascending=False).head(1)
avg_cost_per_unit_yr

report_year
1997    11140.197239
Name: fuel_cost_per_unit_delivered, dtype: float64